<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gyyx.sentinel.app.mapper.db2.OperationDBMapper">
    <select id="addTest" parameterType="String" >
        INSERT  INTO `test` SET `name` = #{0}
    </select>
</mapper>