<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gyyx.sentinel.app.mapper.db2.OperationDBMapper">
    <insert id="addVirtualAssets" useGeneratedKeys="true" keyProperty="id" parameterType="cn.gyyx.sentinel.app.domain.Assets" >
        INSERT INTO `assets` SET ip =#{ip},ips=#{ips},ipmi_ip=#{ipmi_ip},`name`=#{name},
        gysn=#{gysn},idc_id=#{idc_id},os=#{os},setting=#{setting},flag=#{flag},virtual=#{virtual},
        manager=#{manager},atype=#{atype},oper_user=#{oper_user},update_date=#{update_date},app_memo=#{app_memo},
        aid=0,rack='',brand='',raid='',power=''
    </insert>

    <select id="querySubidAppInfo" parameterType="Integer" resultType="Integer">
        SELECT id FROM sub_category WHERE dist_id=-100 AND main_id=#{0}
    </select>

    <insert id="addAppInfo" parameterType="cn.gyyx.sentinel.app.domain.AppInfo">
        INSERT INTO `app_info` SET assets_id=#{assets_id},
        main_id=#{main_id},app_name=#{app_name},dist_id=#{dist_id},sub_id=#{sub_id},
        oper_user=#{oper_user},update_date=#{update_date},ip=#{ip},flag=#{flag}
    </insert>

    <update id="updateVirtualAssets" parameterType="cn.gyyx.sentinel.app.domain.Assets">
        UPDATE `assets` SET `virtual`=#{virtual},ip=#{ip},ips=#{ips},flag=#{flag},
        app_memo=#{app_memo},oper_user=#{oper_user},update_date=#{update_date}
        WHERE gysn=#{gysn} and del_info!=0
    </update>

    <select id="queryAssetsByGysn" parameterType="String" resultType="cn.gyyx.sentinel.app.domain.Assets">
        SELECT  gysn FROM assets WHERE del_info!=0 AND gysn=#{0}
    </select>

    <update id="deleteVirtualAssets" parameterType="cn.gyyx.sentinel.app.domain.Assets">
        UPDATE `assets` SET del_info=0,oper_user=#{oper_user},update_date=#{update_date} WHERE gysn=#{gysn} and virtual > 0 and del_info!=0
    </update>
</mapper>